<div class="container-dash">
    <div class="container my-4 p-5">
        <h1>Login</h1>
        <form [formGroup]="loginForm" class="p-3">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input [class.is-invalid]="loginForm.get('email').touched && loginForm.get('email').invalid"
                    formControlName="email" type="text" class="form-control" />
                    <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)" class="text-danger">
                        <div *ngIf="loginForm.get('email').errors?.['required']">
                            Email obligatorio.
                        </div>
                    </div>
            </div>
            <div class="mb-2">
                <label for="userpassword" class="form-label">Contraseña</label>
                <input
                    [class.is-invalid]="loginForm.get('userpassword').touched && loginForm.get('userpassword').invalid"
                    formControlName="userpassword" type="password" class="form-control" />

                    <div *ngIf="loginForm.get('userpassword').invalid && (loginForm.get('userpassword').dirty || loginForm.get('userpassword').touched)" class="text-danger">
                        <div *ngIf="loginForm.get('userpassword').errors?.['required']">
                            Contraseña obligatoria.
                        </div>
                    </div>
            </div>
            <div>
                <a href="#">
                    <p class="text-primary text-end pointer">
                        ¿Olvidaste tu contraseña?
                    </p>
                </a>
            </div>
            <button type="submit" class="btn btn-primary mt-5" [disabled]="disabledSubmit">Ingresar</button>
        </form>
    </div>
</div>